.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
  height: 72px;
}

.navigation ul{
  display: flex;
  gap:24px ;
  list-style: none;
  font-weight: 500;
}
