.container{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}
.contact_form{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 20px;
}


.top_button{
  display: flex;
  gap: 32px;
}

.form_control{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

}

.form_control input{
height: 40px;
padding: 0 8px;
  

}

.form_control label{
position: absolute;
  top:-12px;
  left: 20px;
  background-color: white;
  padding: 0 10px;
  font-size: 14px;

}

.contact_form form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}